<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to relative_url_templates</h1>
    <a href="basic_app/other.html">This link to "Other" page</a>
    <a href="{% url 'basic_app:other' %}">The "Other" Page using tempate tagging</a>
    <a href="{% url 'admin:index' %}">The Admin link</a>
    <a href="{% url 'index' %}">Link to Index</a>

</body>
</html>